.mydropdown:hover{
    appearance: none !important;
}

.hover-effect{
    position: relative;
}

.hover-effect:hover .megamenu{
    display: block;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: white;
    z-index: 1000000 !important;
}
.hover-effect .megamenu a:hover{
    color: white;
    background-color: red;
}

.megamenu{
    display: none;
}